<div class="container mt-5 mb-5">
  <h1 class="mb-5">
    Edit technology
  </h1>

  <div>
    <%= form_for :technology, url: technology_path(@technology), method: :put do |f| %>
      <div class="border rounded p-5 text-muted col-md-8 mb-3">
        <h4>
          <%= f.label :title, class: 'form-group' %>
        </h4>
        <%= f.text_field :title, class: 'form-control', autofocus: true %>
      </div>

      <div class="border rounded p-5 text-muted col-md-8 mb-3">
        <h3>
          <%= f.label :purpose, class: 'form-group' %>
        </h3>
        <%= f.text_field :purpose, class: 'form-control' %>
      </div>

      <div class="border rounded p-5 text-muted col-md-8 mb-3">
        <h3>
          <%= f.label :description, class: 'form-group' %>
        </h3>
        <%= f.text_area :description, class: 'form-control', rows: '5' %>
      </div>

      <div class="border rounded p-5 text-muted col-md-8 mb-3">
        <h3>
          <%= f.label :doc_link, class: 'form-group' %>
        </h3>
        <%= f.text_field :doc_link, class: 'form-control' %>
      </div>

      <div class="border rounded p-5 text-muted col-md-8 mb-3">
        <h3>
          <%= f.label :global_rating, class: 'form-group' %>
        </h3>
        <%= f.text_field :global_rating, class: 'form-control' %>
      </div>

      <div>
        <%= f.submit class: 'btn btn-primary btn-large' %>
      </div>
    <% end %>
  </div>
</div>
